---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import CardRecipes from '../../components/Card/CardRecipes.astro';
const allPosts = await getCollection("recipes")
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Ãndice de etiquetas";
---
<Layout title={pageTitle}>
  <div class="tags">
    {tags.map((tag) => (
      <CardRecipes><a href={`/tags/${tag}`}>{tag}</a></CardRecipes>
    ))}
  </div>
</Layout>