---
import Layout from '../layouts/Layout.astro';
const pageTitle = "About"

---

<Layout title="Las Recetas de Fadbio.">
	<main>
		<h1>About</h1>
        <p> esta pagina es {pageTitle}</p>
	</main>
</Layout>