---
import Navegation from "./Navegation.astro"
import TitleWebSite from "./TitleWebSite.astro"

---

<header class="grid pb-8">
    <div class="mx-auto p-">
        <TitleWebSite/>
    </div>
    <div class="mx-auto">
        <Navegation/>
    </div>
</header>
<style>

</style>