---
---

<article>
    <br>
    <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quas officia hic libero aliquam est, ut dicta quaerat eius, nulla id, enim maxime? Sit recusandae animi voluptates. Accusamus neque, ratione hic voluptatem aspernatur ducimus nobis voluptates velit consequuntur tenetur odio asperiores, repudiandae sint tempora quia quis fuga cum corporis doloremque.</p>
    <br>
    <a href="/about">Acerca</a>
</article>