---

import Header from '../components/Header.astro';
const { frontmatter } = Astro.props;


---
<div class=" box-content m-8">
    <Header/>
</div>

<section class="m-auto p-2  gap-2 max-w-6xl overflow-hidden relative w-full sm:p-4 sm:gap-2 md:gap-3 md:p-6 lg:h-screen lg:grid-rows-8 lg:grid-cols-4 lg:gap-4 lg:max-h-[1000px]4">
<h2 class=" text-[64px]">{frontmatter.title}</h2>
<h2 class="text-[32px]">{frontmatter.pubDate.toString().slice(0,10)}</h2>
<div class=" overflow-auto">
    <slot/>
</div>
</section>

<style is:global>
    :root{
        background-color: #ebebebde;
    }
    
</style>